@use "../variables" as v;

.information {
  $side-padding: 0 2rem;

  min-width: 300px;
  width: 100%;
  display: flex;
  min-height: 100vh;

  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 55%;
    row-gap: 3rem;
    padding: 2rem 0;

    .title {
      width: 35rem;
      padding: $side-padding;
    }

    .container {
      display: none;
      justify-content: center;
      width: 100%;
      background-color: v.$color-light-grey;

      .cartSmall {
        width: 40rem;
      }
    }

    .form {
      display: flex;
      width: 35rem;
      padding: $side-padding;
    }
  }

  .right {
    width: 45%;
    background-color: v.$color-light-grey;
    padding: 2rem 0;

    .cart {
      padding: $side-padding;
      width: 30rem;
    }
  }
}

@media (max-width: 1280px) {
  .information {
    .left {
      width: 100%;
      align-items: center;

      .title,
      .form {
        max-width: 40rem;
        width: 100%;
        min-width: 300px;
        padding: 0 1rem;
      }

      .container {
        display: flex;
        padding: 2rem 1rem;
      }
    }

    .right {
      display: none;
    }
  }
}
