@use "../../components/Navbar/Navbar.module.scss" as n;
@use "../variables" as v;

.productDetails {
  padding-top: n.$navbar-height;
  background-color: v.$color-light-grey;

  .container {
    display: flex;
    justify-content: center;
    padding: 3rem;
    column-gap: 5rem;
  }
}

@media (max-width: 992px) {
  .productDetails {
    .container {
      flex-direction: column;
      row-gap: 2rem;
    }
  }
}

@media (max-width: 576px) {
  .productDetails {
    .container {
      flex-direction: column;
      padding: 1rem;
    }
  }
}
