@use "../../components/Navbar/Navbar.module.scss" as n;

.productListing {
  margin-top: n.$navbar-height;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  padding: 2rem;
  min-height: 100vh;
}
