@use "../../components/Navbar/Navbar.module.scss" as n;

.register {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: n.$navbar-height;
  min-height: 100vh;
  row-gap: 4rem;
  padding: 2rem 1rem;

  .title {
    font-size: 2rem;
  }
}
