@use "../../styles/variables" as v;

.images {
  display: flex;
  column-gap: 2rem;

  .mainImg {
    img {
      height: unset;
    }
  }

  .altImgs {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 6rem;

    .altImg {
      cursor: pointer;
      width: 6rem;
      height: 6rem;

      &.active {
        border: 1px solid v.$color-black-5;
      }
    }
  }
}

@media (max-width: 1280px) {
  .images {
    flex-direction: column-reverse;
    justify-content: flex-end;

    .altImgs {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 1rem;
      width: 100%;

      .altImg {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}

@media (max-width: 992px) {
  .images {
    align-items: center;
    .mainImg {
      width: 60%;
    }
  }
}

@media (max-width: 768px) {
  .images {
    .mainImg {
      width: 80%;
    }
  }
}

@media (max-width: 576px) {
  .images {
    .mainImg {
      width: 100%;
    }
  }
}
