@use "../../styles/variables" as v;

.prefooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: v.$color-green;
  color: v.$color-white;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40rem;
    row-gap: 2rem;
    padding: 3rem 1.5rem;

    .title {
      font-size: 2rem;
    }

    .buttons {
      display: flex;
      justify-content: center;
      column-gap: 1rem;

      .button {
        background-color: v.$color-white;
        color: v.$color-green;
        text-transform: uppercase;
        padding: 0.75rem 2rem;
        width: 12rem;
      }
    }
  }
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .prefooter {
    .container {
      .buttons {
        flex-wrap: wrap;
        row-gap: 1rem;

        .button {
        }
      }
    }
  }
}
