@use "../../styles/variables" as v;

.footer {
  display: flex;
  justify-content: center;
  padding: 3rem;
  column-gap: 5rem;

  .sitemap {
    display: flex;
    column-gap: 5rem;

    .list {
      display: flex;
      flex-direction: column;
      text-transform: capitalize;
      row-gap: 0.5rem;
      font-weight: 500;

      .link {
        color: v.$color-black-5;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;

    .title {
      text-transform: capitalize;
    }

    .form {
      display: flex;
      column-gap: 1rem;

      input {
        border: 2px solid black;
        padding: 0.5rem 1rem;
      }

      button {
        padding: 0.5rem 1rem;
        background-color: v.$color-blue;
        color: v.$color-white;
        width: 12rem;
        cursor: pointer;
        font-weight: 500;
      }
    }

    .socialLinks {
      display: flex;
      column-gap: 1.5rem;

      .link {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 1280px) {
  .footer {
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;

    .socials {
      .title {
        text-align: center;
      }

      .socialLinks {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    .sitemap {
      display: none;
    }
  }
}
