@use "../../styles/variables" as v;

.formControl {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;

  .labelError {
    display: flex;
    justify-content: space-between;

    .error {
      color: #ed4337;
    }
  }

  input,
  select {
    border: 1px solid v.$color-offwhite;
    outline: none;
    padding: 0.75rem 1rem;
    transition: border 0.5s;
    background-color: unset;

    &:focus {
      border: 1px solid v.$color-black;
    }
  }
}

.radio {
  display: flex;
  flex-direction: column;
  border: 1px solid v.$color-grey;
  padding: 1rem;
  row-gap: 1rem;

  .radioOption {
    display: flex;
    align-items: center;

    input {
      width: 1.125rem;
      height: 1.125rem;
    }

    label {
      padding-left: 1rem;
    }

    .price {
      margin-left: auto;
      padding-left: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .formControl {
    .labelError {
      flex-wrap: wrap;

      label {
        padding-right: 1rem;
      }
    }
  }
}
