// fonts
$logo-font: "Permanent Marker", cursive;

// colors
$color-white: #fff;
$color-white-5: rgba(255, 255, 255, 0.5);
$color-white-8: rgba(255, 255, 255, 0.8);
$color-offwhite: #f2f2f2;
$color-light-grey: #f8f8f8;
$color-dark-grey: #535353;
$color-grey: #dcdcdc;
$color-btn-grey: #fbfbfb;
$color-black: #000;
$color-black-8: rgba(0, 0, 0, 0.8);
$color-black-5: rgba(0, 0, 0, 0.5);
$color-black-3: rgba(0, 0, 0, 0.3);
$color-green: #243a3e;
$color-blue: #2374ab;
