@use "../Navbar/Navbar.module.scss" as test;

.menu {
  position: absolute;
  top: test.$navbar-height;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  height: 22rem;
  column-gap: 2rem;
  text-transform: capitalize;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;

  &:hover {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
  }

  .categoryList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 5rem;
    width: 40rem;
    padding: 2rem 5rem;

    .listGroup {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;

      .listTitle {
        font-weight: bold;
      }

      .listItem {
        color: rgba(0, 0, 0, 0.5);
        font-weight: 500;

        &:hover {
          color: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  .promotionsList {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: calc(100vw - 40rem);
    column-gap: 2.5rem;
    height: 100%;
    padding-right: 2rem;

    .promotionItem {
      display: flex;
      flex-direction: column;
      width: 12.5rem;
      padding: 2rem 0;
      height: 100%;
      row-gap: 1rem;

      &:hover {
        .promotionDetail {
          .promotionDescription {
            color: rgba(0, 0, 0, 0.8);
          }
        }
      }

      .promotionDetail {
        display: flex;
        flex-direction: column;
        row-gap: 0.25rem;

        .promotionTitle {
          font-weight: bold;
        }

        .promotionDescription {
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
