@use "../Navbar/Navbar.module.scss" as n;
@use "../../styles/variables" as v;

.menu {
  position: absolute;
  inset: n.$navbar-height 0 0 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid v.$color-offwhite;
  border-bottom: 1px solid v.$color-offwhite;
  height: 22rem;
  width: 100%;
  column-gap: 2rem;
  text-transform: capitalize;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;

  &:hover {
    @include n.menuHover;
  }

  .categoryList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 5rem;
    width: 40rem;
    padding: 2rem 5rem;
  }

  .promotionsList {
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - 40rem);
    height: 100%;
    column-gap: 2.5rem;
    padding-right: 2rem;
    overflow: hidden;
  }
}
